.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.DET{
  display: flex;
  margin: 5px;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  border: 2px solid black;
  transition: 0.2s ease-in-out;
}
.DET:hover{
  transition: 0.2s ease-in-out;
transform: scale(1.05);
}
